$primaryDarkViolet: hsl(256, 26%, 20%);
$primaryGrayishBlue: hsl(216, 30%, 68%);
$neutralVeryDarkViolet: hsl(270, 9%, 17%);
$neutralDarkGreyishViolet: hsl(273, 4%, 51%);
$neutralVeryLightGray: hsl(0, 0%, 98%);